/downloads/
/target/
**/cppbuild/**
**/target/**

# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings

# IntelliJ
*.iml
.idea
/librealsense/target/
/libfreenect2/target/
/libfreenect2/test/target/
/libfreenect2 (copie 1)/target/
/libfreenect2 (copie 1)/test/target/
/wlc/target/
/wlc/test/target/